/* ========================= */
/* RESPONSIVIDADE */
/* ========================= */

@media (max-width: 1024px){

  header{
    padding:20px 30px;
  }

  .banner{
    padding:60px 30px;
  }

  .banner-text h1{
    font-size:55px;
  }

  .contato{
    padding:60px 30px;
  }

}

/* TABLET + CELULAR */

@media (max-width:768px){

  /* HEADER */
  header{
    flex-direction:column;
    gap:20px;
    text-align:center;
    padding:25px;
  }

  nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
  }

  nav a{
    margin:0;
  }

  /* BANNER */

  .banner{
    flex-direction:column;
    text-align:center;
    padding:50px 25px;
  }

  .banner-text h1{
    font-size:42px;
  }

  .banner-text p{
    font-size:16px;
  }

  .banner img{
    max-width:350px;
    width:100%;
  }

  /* SERVIÇOS */

  .servicos{
    padding:40px 20px;
    min-height:auto;
  }

  .servicos h2{
    font-size:34px;
    text-align:center;
  }

  .cards{
    gap:18px;
  }

  .card{
    width:100%;
    max-width:320px;
  }

  /* CONTATO */

  .contato{
    flex-direction:column;
    text-align:center;
    gap:40px;
    padding:50px 25px;
  }

  .contato h2{
    font-size:36px;
  }

  .contato-info{
    align-items:center;
  }

  .contato img{
    width:160px;
  }

}

/* CELULARES PEQUENOS */

@media (max-width:480px){

  .banner-text h1{
    font-size:34px;
    line-height:1.1;
  }

  .banner-text button{
    width:100%;
    max-width:260px;
  }

  .card{
    height:auto;
  }

  .card img{
    height:200px;
  }

  .contato h2{
    font-size:30px;
  }

}